<div id="chat_wrapper" class="show">

	<%= render 'chat/menu' %>
	
	<div id="chat">

		<% @messages.each do |message| %>
				<!--CHAT-ROW************************** -->
				<div class="chat-row container-fluid <% if message.photo_url %>photo-row<% end %>">
					<div class="col-md-1 text-center">
						<%= image_tag message.user.avatar_url, class: 'avatar' %>
					</div>
					<div class="col-md-11 chat_content_container <% if message.photo_url %>photo_container<% end %>">
						<div class="container-fluid">
							<div class="row">
								<div class="message col-md-6">
									<span class="name"><%= message.user %></span>
									<span class="datetime"><%= message.date_sent %></span>

									<% if message.photo_url %>
											<span class="content">
												<%= image_tag ("photos/" + message.photo_url), class: 'photo' %>
											</span>
										</div>
										<div class="edit_photo col-md-6">
											<%= render 'chat/edit_photo' %>
										</div><!--/.edit_photo-->
									<% else %>
											<span class="content">
												<%= message.message %>
											</span>
										</div>
									<% end %>
								
							</div><!--/.row-->
						</div><!--/.container-fluid-->
					</div><!--/.chat_content_container-->
				</div><!--/.chat-row-->
		<% end %>



	</div><!--/#chat-->

</div><!--/#chat_wrapper-->